html{
    font-family: 'poppins';
}
body[data-tipo='administratiu'] {
    background-color: #e0f0f5;
}
i[data-atras='administratiu'] {
    color: #fccc0b;
}
i[data-atras='administratiu']:hover{
    color: #ac8c0d;
}
body[data-tipo='administrador'] {
    background-color: #fcf2cc;
}
i[data-atras='administrador']{
    color: #f70c74;
}
i[data-atras='administrador']:hover{
    color: #9f0047;
}
body[data-tipo='recurs'] {
    background-color: #f8e8f0;
}
i[data-atras='recurs']{
    color: #0ab4cc;
}
i[data-atras='recurs']:hover{
    color: #0a7e8e;
}
#body_login{
    background-color: #e0f0f5;
    font-family: 'poppins';
}
#login{
    padding-left: 25%;
}
#linies_colors{
    float: right;
    margin-right: 5%;
}
#logo_login{
    margin-left: 47%;
    margin-top: 4%;
}
#acceptar_login{
    margin-right: 11%;
    background-color: #fccc0b;
    border: solid;
    border-width: 2px;
}

#atras{
    position: fixed;
    bottom: 5%;
    left: 2%;
}
#boto_buscar {
    color:#0ab4cc !important;
    border-color:#0ab4cc !important;
}
#boto_buscar:hover{
    background-color:#0ab4cc !important;
    color: white !important;
}
#id_primercamp{
    margin-left: 25%;
}
#titul_incidencia{
    color: white;
    text-align: center;
}
.dropdown-menu{
    left: -70%;
}
#botoCrear{
    position: fixed;
    bottom: 5%;
    right: 2%;
    color: #0ab4cc;
}
#botoCrear:hover{
    color: #047887;
}
.form-inline{
    margin-left:35%;
}
#titol_usuaris{
    margin-left:35%;
}
.boto_enviar{
    position: fixed;
    bottom: 5%;
    right: 2%;
}
#card{
    padding-left: 0px;
    padding-right: 0px;
}
#boto_admin_recurs_formacio{
    width:250px;
    height:250px;
    background-color: #e0f0f5 ;
    border: 2px solid #0ab4cc;
    color: #0ab4cc;
}

#boto_admin_recurs_formacio:hover{
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://img.icons8.com/?id=8eYononD9Coq&size=2x&color=000000')
}

#boto_admin_recurs_trucada{
    width:250px;
    height:250px;
}

#boto_admin_recurs_trucada:hover{
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://img.icons8.com/?id=8eYononD9Coq&size=2x&color=000000');
}

#botodiv_admin_recurs{
    margin-top: 10% ;
    text-align: center;
}
.btn-outline-warning{
    border-color: #fccc0b;
    color: #fccc0b;
}
.btn-outline-warning:hover{
    background-color: #fccc0b;
}
.btn-outline-azul{
    border-color: #0ab4cc;
    color: #0ab4cc;
}
.btn-outline-azul:hover{
    background-color: #0a7e8e;
    color: white;
}
#boto_administrador:hover{
    background-color: #0a7e8e;
    color: white;
}
#boto_administrador{
    border-color: #0ab4cc;
    color: #0ab4cc;
    width:250px;
    height:150px;
}
#botodiv_administrador{
    margin-top: 5% ;
    text-align: center;
}
#titol_alertant{
    margin-left: 40%;
}
#titol_editar_incidencia{
    text-align: center;
}
#editar_incidencia{
    position: fixed;
    bottom: 5%;
    right: 2%;
}

.password-icon{
    float: right;
    position: relative;
    cursor:pointer;
    margin: -25px 10px 0 0;
}

#boto_administrador_users:hover{
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://img.icons8.com/?id=urZ6Luep28rI&size=2x&color=000000');
    background-color: #0bb3c9;
    color: white;
    border-color: #0a7e8e;
}

#boto_administrador_users{

    background-color: #e0f0f5;
    border-color: #0ab4cc;
    border-width: 3px;
    color: #0ab4cc;
    width:250px;
    height:150px;
    font-size: larger;
}

#boto_administrador_alertants:hover{
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://img.icons8.com/?id=oxDAcCe2eKSU&size=9x&color=000000');
    background-color: #0bb3c9;
    color: white;
    border-color: #0a7e8e;
}

#boto_administrador_alertants{

    background-color: #e0f0f5;
    border-color: #0ab4cc;
    border-width: 3px;
    color: #0ab4cc;
    width:250px;
    height:150px;
    font-size: larger;
}

#boto_administrador_recursos:hover{
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://img.icons8.com/?id=Zxyd6wIo7Moq&size=9x&color=000000');
    background-color: #0bb3c9;
    color: white;
    border-color: #0a7e8e;
}

#boto_administrador_recursos{

    background-color: #e0f0f5;
    border-color: #0ab4cc;
    border-width: 3px;
    color: #0ab4cc;
    width:250px;
    height:150px;
    font-size: larger;
}

#boto_administrador_helpbox:hover{
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://img.icons8.com/?id=cdf7ICka6j7r&size=9x&color=000000');
    background-color: #0bb3c9;
    color: white;
    border-color: #0a7e8e;
}

#boto_administrador_helpbox{

    background-color: #e0f0f5;
    border-color: #0ab4cc;
    border-width: 3px;
    color: #0ab4cc;
    width:250px;
    height:150px;
    font-size: larger;
}

#boto_administrador_incidencies:hover{
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://img.icons8.com/?id=VL43tyVqORRJ&size=9x&color=000000');
    background-color: #0bb3c9;
    color: white;
    border-color: #0a7e8e;
}

#boto_administrador_incidencies{

    background-color: #e0f0f5;
    border-color: #0ab4cc;
    border-width: 3px;
    color: #0ab4cc;
    width:250px;
    height:150px;
    font-size: larger;
}

#boto_administrador_estadistiques:hover{
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://img.icons8.com/?id=sXekVf8qEHzE&size=2x&color=000000');
    background-color: #0bb3c9;
    color: white;
    border-color: #0a7e8e;
}

#boto_administrador_estadistiques{

    background-color: #e0f0f5;
    border-color: #0ab4cc;
    border-width: 3px;
    color: #0ab4cc;
    width:250px;
    height:150px;
    font-size: larger;
}

#botodiv_administrador{
    margin-top: 5% ;
    text-align: center;
}

